<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class# #class#"
    data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#"
    data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#"
    style="width: #width#;height: #height#;#style#">
    <center class="widget-name">
        <span class="warning" title="#alert_name#">
            <i class='#alert_icon#'></i>
        </span>
        <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
            <i class="fas fa-sync"></i>
        </span>
        <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
        <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
    </center>

    <div class="classContenant#uid#" id="idResume#uid#">

        <span class="classTitre#uid#">Caractéristiques</span>
        <img class="classReferences#uid# cursor" id="idOptionsReferences#uid#"
            src="plugins/printerStatus/resources/question.svg"></br>
        <div class="gap-5"></div>
        <span class="classSousTitre#uid#">Adresse IP</span><span class="classValeur#uid#">#adresse_ip#</span></br>

        <div class="gap-5"></div>
        <span class="classTitre#uid#">Statut</span></br>
        <div class="gap-5"></div>
        <span class="classSousTitre#uid#">Etat</span><span class="classValeur#uid#" id="idEtat#uid#"></span></br>
        <span class="classSousTitre#uid#">Activité</span><span class="classValeur#uid#"
            id="idTempsActivite#uid#"></span></br>

        <div class="gap-5"></div>
        <span class="classTitre#uid#">Pages imprimées</span></br>
        <div class="gap-5"></div>
        <span class="classSousTitre#uid#">Couleur</span><span class="classValeur#uid#"
            id="idPagesCouleur#uid#"></span></br>
        <span class="classSousTitre#uid#">Monochrome</span><span class="classValeur#uid#"
            id="idPagesMonochrome#uid#"></span></br>
        <span class="classSousTitre#uid#">Total</span><span class="classValeur#uid#" id="idPagesTotal#uid#"></span></br>

        <div class="gap-5"></div>
        <span class="classTitre#uid#">Etat Bacs</span></br>
        <div class="gap-5"></div>
        <div class='progresswrapper#uid#'>
            <div id='idPolyProgress#uid#' class='progress#uid# cyan#uid#'>
                <div id='idPolyLabel#uid#' class='progress-label#uid#'></div>
            </div>
        </div><br>
        <div class="gap-5"></div>
        <div class='progresswrapper#uid#'>
            <div id='idCas1Progress#uid#' class='progress#uid# green#uid#'>
                <div id='idCas1Label#uid#' class='progress-label#uid#'></div>
            </div>
        </div><br>

        <div class="gap-5"></div>
        <span class="classTitre#uid#">Etat Toner</span></br>
        <div class="gap-5"></div>
        <div class='progresswrapper#uid#'>
            <div id='idNoirProgress#uid#' class='progress#uid# black#uid#'>
                <div id='idNoirLabel#uid#' class='progress-label#uid#'></div>
            </div>
        </div><br>
        <div class="gap-5"></div>
        <div class='progresswrapper#uid#'>
            <div id='idJauneProgress#uid#' class='progress#uid# yellow#uid#'>
                <div id='idJauneLabel#uid#' class='progress-label#uid#'></div>
            </div>
        </div><br>
        <div class="gap-5"></div>
        <div class='progresswrapper#uid#'>
            <div id='idMagentaProgress#uid#' class='progress#uid# magenta#uid#'>
                <div id='idMagentaLabel#uid#' class='progress-label#uid#'></div>
            </div>
        </div><br>
        <div class="gap-5"></div>
        <div class='progresswrapper#uid#'>
            <div id='idCyanProgress#uid#' class='progress#uid# cyan#uid#'>
                <div id='idCyanLabel#uid#' class='progress-label#uid#'></div>
            </div>
        </div><br>

    </div>

    <div class="classContenant#uid#" id="idReferences#uid#" style="display:none;">

        <span class="classTitre#uid#">Caractéristiques</span>
        <img class="classPrecedent#uid# cursor" src="plugins/printerStatus/resources/previous.svg"><br>
        <div class="gap-5"></div>
        <span class="classSousTitre#uid#">Nom du système</span><span class="classValeur#uid#"
            id="idSystemName#uid#"></span></br>
        <span class="classSousTitre#uid#">Modèle</span><span class="classValeur#uid#" id="idModel#uid#"></span></br>
        <span class="classSousTitre#uid#">Numéro de série</span><span class="classValeur#uid#"
            id="idSerial#uid#"></span></br>
        <span class="classSousTitre#uid#">Nom d'hôte</span><span class="classValeur#uid#" id="idHote#uid#"></span></br>

        <div class="gap-5"></div>
        <span class="classTitre#uid#">Références Toner</span></br>
        <div class="gap-5"></div>
        <span class="classSousTitre#uid#">Noir</span><span class="classValeur#uid#" id="idRefNoir#uid#"></span></br>
        <span class="classSousTitre#uid#">Jaune</span><span class="classValeur#uid#" id="idRefJaune#uid#"></span></br>
        <span class="classSousTitre#uid#">Magenta</span><span class="classValeur#uid#"
            id="idRefMagenta#uid#"></span></br>
        <span class="classSousTitre#uid#">Cyan</span><span class="classValeur#uid#" id="idRefCyan#uid#"></span></br>


    </div>

    <style>
        .classContenant#uid# {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .classTitre#uid# {
            position: absolute;
            width: 96%;
            left: 2%;
            text-align: left;
            font-size: 14px;
            background-color: #E0E0E0;
            color: #808080;
        }

        .classSousTitre#uid# {
            position: absolute;
            width: 100%;
            left: 20px;
            text-align: left;
            font-size: 14px;
            color: #000000;
        }

        .classProg#uid# {
            width: 220px;
            height: 40px;
            margin-left: 20px;
        }

        .classValeur#uid# {
            position: absolute;
            width: 100%;
            right: 20px;
            text-align: right;
            font-size: 14px;
            color: #808080;
        }

        .classReferences#uid# {
            position: absolute;
            width: 20px;
            height: 20px;
            right: 7px;
            top: 0px;
            filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
        }

        .classReferences#uid#:hover {
            filter: invert(29%) sepia(99%) saturate(1522%) hue-rotate(346deg) brightness(102%) contrast(96%);
        }

        .classPrecedent#uid# {
            position: absolute;
            width: 20px;
            height: 20px;
            right: 7px;
            top: 0px;
            filter: invert(56%) sepia(0%) saturate(299%) hue-rotate(144deg) brightness(89%) contrast(94%);
        }

        .classPrecedent#uid#:hover {
            filter: invert(29%) sepia(99%) saturate(1522%) hue-rotate(346deg) brightness(102%) contrast(96%);
        }

        .gap-5 {
            width: 100%;
            height: 5px;
        }

        .progresswrapper#uid# {
            position: absolute;
            display: inline-block;
            width: 96%;
            left: 2%;
        }

        .progress#uid# {
            height: 20px !important;
        }

        .progress-label#uid# {
            text-align: center;
            font-size: 10pt;
            width: 100%;
            float: left;
        }

        .black#uid# .ui-widget-header {
            background-color: black !important;
        }

        .yellow#uid# .ui-widget-header {
            background-color: yellow !important;
        }

        .magenta#uid# .ui-widget-header {
            background-color: magenta !important;
        }

        .cyan#uid# .ui-widget-header {
            background-color: cyan !important;
        }

        .green#uid# .ui-widget-header {
            background-color: #a2f60d !important;
        }
    </style>
    <script>

        // Affichage initial
        //
        $('#idResume#uid#').show();
        $('#idReferences#uid#').hide();

        // Retour sur tuile principale
        //
        $('.classPrecedent#uid#').on('click', function () {
            $('#idResume#uid#').show();
            $('#idReferences#uid#').hide();
        });

        // Click pour accès tuile références
        //
        $('#idOptionsReferences#uid#').on('click', function () {
            $('#idResume#uid#').hide();
            $('#idReferences#uid#').show();
        });

        if ('#refresh_id#' != '') {
            $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
                jeedom.cmd.execute({ id: '#refresh_id#' });
            });
        } else {
            $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
        }

        jeedom.cmd.update['#idSystemName#'] = function (_options) {
            $('#idSystemName#uid#').html(_options.display_value);
        }
        jeedom.cmd.update['#idSystemName#']({ display_value: '#systemName#' });

        jeedom.cmd.update['#idModel#'] = function (_options) {
            $('#idModel#uid#').html(_options.display_value);
        }
        jeedom.cmd.update['#idModel#']({ display_value: '#model#' });

        jeedom.cmd.update['#idSerial#'] = function (_options) {
            $('#idSerial#uid#').html(_options.display_value);
        }
        jeedom.cmd.update['#idSerial#']({ display_value: '#serial#' });

        jeedom.cmd.update['#idHote#'] = function (_options) {
            $('#idHote#uid#').html(_options.display_value);
        }
        jeedom.cmd.update['#idHote#']({ display_value: '#hote#' });

        jeedom.cmd.update['#idRefNoir#'] = function (_options) {
            $('#idRefNoir#uid#').html(_options.display_value);
        }
        jeedom.cmd.update['#idRefNoir#']({ display_value: '#refNoir#' });

        jeedom.cmd.update['#idRefJaune#'] = function (_options) {
            $('#idRefJaune#uid#').html(_options.display_value);
        }
        jeedom.cmd.update['#idRefJaune#']({ display_value: '#refJaune#' });

        jeedom.cmd.update['#idRefMagenta#'] = function (_options) {
            $('#idRefMagenta#uid#').html(_options.display_value);
        }
        jeedom.cmd.update['#idRefMagenta#']({ display_value: '#refMagenta#' });

        jeedom.cmd.update['#idRefCyan#'] = function (_options) {
            $('#idRefCyan#uid#').html(_options.display_value);
        }
        jeedom.cmd.update['#idRefCyan#']({ display_value: '#refCyan#' });

        jeedom.cmd.update['#idPagesCouleur#'] = function (_options) {
            $('#idPagesCouleur#uid#').html(_options.display_value);
        }
        jeedom.cmd.update['#idPagesCouleur#']({ display_value: '#pagesCouleur#' });

        jeedom.cmd.update['#idPagesMonochrome#'] = function (_options) {
            $('#idPagesMonochrome#uid#').html(_options.display_value);
        }
        jeedom.cmd.update['#idPagesMonochrome#']({ display_value: '#pagesMonochrome#' });

        jeedom.cmd.update['#idPagesTotal#'] = function (_options) {
            $('#idPagesTotal#uid#').html(_options.display_value);
        }
        jeedom.cmd.update['#idPagesTotal#']({ display_value: '#pagesTotal#' });

        jeedom.cmd.update['#idNoir#'] = function (_options) {
            $('#idNoirLabel#uid#').html('Noir : ' + _options.display_value + "%");
            let val = parseInt(_options.display_value);
            $('#idNoirProgress#uid#').progressbar({ value: val });
        }
        jeedom.cmd.update['#idNoir#']({ display_value: '#noir#' });

        jeedom.cmd.update['#idJaune#'] = function (_options) {
            $('#idJauneLabel#uid#').html('Jaune : ' + _options.display_value + "%");
            let val = parseInt(_options.display_value);
            $('#idJauneProgress#uid#').progressbar({ value: val });
        }
        jeedom.cmd.update['#idJaune#']({ display_value: '#jaune#' });

        jeedom.cmd.update['#idMagenta#'] = function (_options) {
            $('#idMagentaLabel#uid#').html('Magenta : ' + _options.display_value + "%");
            let val = parseInt(_options.display_value);
            $('#idMagentaProgress#uid#').progressbar({ value: val });
        }
        jeedom.cmd.update['#idMagenta#']({ display_value: '#magenta#' });

        jeedom.cmd.update['#idCyan#'] = function (_options) {
            $('#idCyanLabel#uid#').html('Cyan : ' + _options.display_value + "%");
            let val = parseInt(_options.display_value);
            $('#idCyanProgress#uid#').progressbar({ value: val });
        }
        jeedom.cmd.update['#idCyan#']({ display_value: '#cyan#' });

        jeedom.cmd.update['#idBacPolyvalent#'] = function (_options) {
            if (_options.display_value == 0)
                $('#idPolyLabel#uid#').html('Polyvalent Vide');
            else
                $('#idPolyLabel#uid#').html('Polyvalent Alimenté');
        }
        jeedom.cmd.update['#idBacPolyvalent#']({ display_value: '#bacPolyvalent#' });

        jeedom.cmd.update['#idBacCassette1#'] = function (_options) {
            $('#idCas1Label#uid#').html('Cassette 1 : ' + _options.display_value + "%");
            let val = parseInt(_options.display_value);
            $('#idCas1Progress#uid#').progressbar({ value: val });
        }
        jeedom.cmd.update['#idBacCassette1#']({ display_value: '#bacCassette1#' });

        jeedom.cmd.update['#idEtat#'] = function (_options) {
            $('#idEtat#uid#').html(_options.display_value);
            if ( _options.display_value == 'Hors ligne' )
            {
                $('#idEtat#uid#').css("color", "red");
            }
            else{
                $('#idEtat#uid#').removeProperty("css");          
            }
        }
        jeedom.cmd.update['#idEtat#']({ display_value: '#etat#' });

        jeedom.cmd.update['#idTempsActivite#'] = function (_options) {
            $('#idTempsActivite#uid#').html(_options.display_value);
        }
        jeedom.cmd.update['#idTempsActivite#']({ display_value: '#tempsActivite#' });

    </script>

</div>